name = "mock-api-backend"
main = "backend/build/worker.mjs"
compatibility_date = "2025-11-22"

[build]
command = "npm run build"
watch_dir = ["backend/cmd", "backend/internal"]

[[rules]]
type = "CompiledWasm"
globs = ["**/*.wasm"]
fallthrough = false

[[routes]]
pattern   = "*.tuanla.cloud/*"
zone_name = "tuanla.vn"

[vars]
# Production environment variables
# For local development, use .dev.vars file (gitignored)
MANAGEMENT_DOMAIN = "tuanla.cloud"
SCHEME = "https"

[[d1_databases]]
binding = "DB"
database_name = "mock_api"
database_id = "773330e9-762a-45ea-a0ac-bb0073792668"
